{% extends 'base.html.twig' %}

{% block body %}
    <div class="contact margin_top">
        <div class="container">
            <div class="row">
                <h1>Контактная информация</h1>
            </div>
            <div class="row border-bottom">
                <div class="contact_info">
                    <div class="medium-6 large-6 columns">
                        <h5>Кто мы</h5>
                        <img class="people_img" src="./img/people2.jpg">
                        <p class="students">студенты ВГУ им. Машерова</p>
                    </div>
                    <div class="medium-6 large-6 columns">
                        <h5>Что мы делаем</h5>
                        <p class="text">Следующий проект, чтобы оплачивать счета, вернуть деньги
                            инвесторам и довольны положением. Двадцатью долларами под
                            подушкой мадиба провёл двадцать семь лет в следующий проект.
                            Укрепляет наш позитивный образ, с интересными. Настоящими героями
                            китае больше, чем. Благородными побуждениями – даёт повод честным
                            журналистам освещать как.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border- margin_top">
            <h1>Где мы находимся</h1>
            <div class="medium-6 large-6 medium-pull-3 large-pull-3 columns margin_2proc">
                <div class="location">
                    <p>Адрес: ул. Наметкина, 16, Москва, ГСП-7, 117997</p>
                    <p class="margin_4proc">Телефон:
                        <a class="color_black a_about">&emsp;+ 7 495 719-30-01 (справочный)&emsp;</a>
                        <a class="color_black a_about">+ 7 495 719-83-33 (факс)</a>
                    </p>
                    <p class="margin_4proc">Email: <a class="color_black a_about">email@gmail.com</a></p>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="medium-10 large-10 medium-centered columns margin_2proc">
                <iframe style="width:100%; height: 400px;"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1723.340495805807!2d30.224437893054937!3d55.177267924209275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5960681ffa5e4d72!2z0JLQuNGC0LXQsdGB0LrQuNC5INCz0L7RgdGD0LTQsNGA0YHRgtCy0LXQvdC90YvQuSDRg9C90LjQstC10YDRgdC40YLQtdGCINC40LzQtdC90Lgg0J8u0JwuINCc0LDRiNC10YDQvtCy0LA!5e0!3m2!1sru!2sby!4v1493059830776" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}