_security_login:
    path:  /login
    defaults: { _controller: "BloggerBlogBundle:Security:login" }

_security_check:
    path:  /login_check

_security_logout:
    path:  /logout

user_reg:
    path:  /reg
    defaults: { _controller: "BloggerBlogBundle:Security:reg" }
    requirements:
           methods:  POST

#movy_events_homepage:
#    path:     /
#    defaults: { _controller: "BloggerBlogBundle:Default:index"}
#    requirements:
#         methods: GET

ticket_buy:
    path:  /event
    defaults: { _controller: "BloggerBlogBundle:Event:buy" }
    requirements:
           methods:  POST

admin_home:
    path:  /userpanel/
    defaults: { _controller: "BloggerBlogBundle:Admin:index" }
    requirements:
           methods:  GET

movy_events_login:
    path:     /login
    defaults: { _controller: "BloggerBlogBundle:Page:login" }
    requirements:
         methods:  GET

movy_events_contact:
    path:     /contact
    defaults: { _controller: "BloggerBlogBundle:Page:contact" }
    requirements:
         methods:  GET

movy_events_gallery:
    path:     /gallery
    defaults: { _controller: "BloggerBlogBundle:Page:gallery" }
    requirements:
         methods:  GET

movy_send:
    path:     /send
    defaults: { _controller: "BloggerBlogBundle:Page:send" }
    requirements:
         methods:  GET

BloggerBlogBundle_homepage:
    path:     /
    defaults: { _controller: "BloggerBlogBundle:Event:index" }
    requirements:
         methods:  GET

