{% extends 'base.html.twig' %}
{% block title %}Панель Администратора{% endblock %}

{% block body %}
    <div class="container margin_top" style="padding-bottom:100px;">
        <h2 style="text-align: center">Панель Администратора</h2>
        <div class="row margin_top">
            <div class="medium-offset-3 medium-6 columns admin_panel">
                <ul>
                    <li><a href="{{ path('user_index') }}">Просмотр пользователей</a></li>
                    <li><a href="{{ path('event_admin_index') }}">Просмотр мероприятий</a></li>
                    <li><a href="{{ path('ticket_index') }}">Просмотр билетов</a></li>
                </ul>
                <div class="admin_back"></div>
            </div>

        </div>
    </div>
{% endblock %}